
{% extends 'layout.html' %} {% block body %}

<style>
  .containera {
    
    height: 900px; /* Fixed height */
    /* Enable scrolling when content overflows */
  }
  html body {
    background-color:  #fcffe7;
  }
</style>
<!--Form Section-->
<br /><br />
<div class="containera">

<h2 style="text-align: center; margin: 0px;margin-top: 50px; color: black">
  <b>What crop to grow ? 🌾</b>
</h2>
<br />

<div
  style="
    width: 350px;
    height: 40rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
  <form method="POST" action="{{ url_for('crop_predict') }}">
    <div class="form-group">
      <label for="Temparature" style="font-size: 17px"><b>Temparature</b></label>
      <input
        type="number"
        class="form-control"
        id="Temparature"
        name="Temparature"
        placeholder="Enter the value (example:40)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Humidity" style="font-size: 17px"><b>Humidity</b></label>
      <input
        type="number"
        class="form-control"
        id="Humidity"
        name="Humidity"
        placeholder="Enter the value (example:40)"
        style="font-weight: bold"
        required
      />
    </div>
    
   
    
    <div class="form-group">
      <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
      <input
        type="number"
        class="form-control"
        id="Nitrogen"
        name="nitrogen"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
      <input
        type="number"
        class="form-control"
        id="Pottasium"
        name="pottasium"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Phosphorous" style="font-size: 17px"
        ><b>Phosphorous</b></label
      >
      <input
        type="number"
        class="form-control"
        id="Phosphorous"
        name="phosphorous"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>

    <div class="form-group">
        <label for="Ph" style="font-size: 17px"
          ><b>Ph</b></label
        >
        <input
          type="number"
          class="form-control"
          id="Ph"
          name="ph"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold"
          required
        />
      </div>
    
      <div class="form-group">
        <label for="Rainfall" style="font-size: 17px"
          ><b>Rainfall</b></label
        >
        <input
          type="number"
          class="form-control"
          id="Rainfall"
          name="Rainfall"
          placeholder="Enter the value (example:50)"
          style="font-weight: bold"
          required
        />
      </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="
          color: black;
          font-weight: bold;
          width: 130px;
          height: 50px;
          border-radius: 12px;
          font-size: 21px;
        "
      >
        Predict
      </button>
    </div>
  </form>
</div>
</div>
{% endblock %}
