
{% extends 'layout.html' %} {% block body %}

<style>
  .containera {
    
    height: 900px; /* Fixed height */
    /* Enable scrolling when content overflows */
  }
  html body {
    background-color:  #fcffe7;
  }
</style>
<!--Form Section-->
<br /><br />
<div class="containera">

<h2 style="text-align: center; margin: 0px;margin-top: 50px; color: black">
  <b>Get informed advice on fertilizer based on soil</b>
</h2>
<br />

<div
  style="
    width: 350px;
    height: 40rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
  <form method="POST" action="{{ url_for('fertilizer_predict') }}">
    <div class="form-group">
      <label for="Temparature" style="font-size: 17px"><b>Temparature</b></label>
      <input
        type="number"
        class="form-control"
        id="Temparature"
        name="Temparature"
        placeholder="Enter the value (example:40)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Humidity" style="font-size: 17px"><b>Humidity</b></label>
      <input
        type="number"
        class="form-control"
        id="Humidity"
        name="Humidity"
        placeholder="Enter the value (example:40)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Moisture" style="font-size: 17px"><b>Moisture</b></label>
      <input
        type="number"
        class="form-control"
        id="Moisture"
        name="Moisture"
        placeholder="Enter the value (example:40)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Soil" style="font-size: 17px"
        ><b> Enter your Soil type</b></label
      >
      <select
        name="Soil"
        class="form-control"
        id="Soil"
        placeholder="Select a Soil"
        style="font-weight: bold"
        required
      >
        <option selected>Select soil</option>
        <option>Sandy</option>
        <option>Loamy</option>
        <option>Black</option>
        <option>Red</option>
        <option>Clayey</option>
      </select>
    </div>
    <div class="form-group">
      <label for="crop" style="font-size: 17px"
        ><b>Crop you want to grow</b></label
      >
      <select
        name="cropname"
        class="form-control"
        id="crop"
        placeholder="Select a crop"
        style="font-weight: bold"
        required
      >
        <option selected>Select crop</option>
        <option>Clayey</option>
        <option>Sugarcane</option>
        <option>Cotton</option>
        <option>Tobacco</option>
        <option>Paddy</option>
        <option>Barley</option>
        <option>Wheat</option>
        <option>Millets</option>
        <option>Oil seeds</option>
        <option>Pulses</option>
        <option>Ground Nuts</option>
        
      </select>
    </div>


    <div class="form-group">
      <label for="Nitrogen" style="font-size: 17px"><b>Nitrogen</b></label>
      <input
        type="number"
        class="form-control"
        id="Nitrogen"
        name="nitrogen"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Pottasium" style="font-size: 17px"><b>Pottasium</b></label>
      <input
        type="number"
        class="form-control"
        id="Pottasium"
        name="pottasium"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>
    <div class="form-group">
      <label for="Phosphorous" style="font-size: 17px"
        ><b>Phosphorous</b></label
      >
      <input
        type="number"
        class="form-control"
        id="Phosphorous"
        name="phosphorous"
        placeholder="Enter the value (example:50)"
        style="font-weight: bold"
        required
      />
    </div>

   
    
    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-info"
        style="
          color: black;
          font-weight: bold;
          width: 130px;
          height: 50px;
          border-radius: 12px;
          font-size: 21px;
        "
      >
        Predict
      </button>
    </div>
  </form>
</div>
</div>
{% endblock %}
