{% extends 'layout.html' %}

{% block body %}
<div class="slider_main">
    <!-- carousel code -->
     <div id="banner1" class="carousel slide carousel-fade" data-ride="carousel" data-interval="6000">
                      <ol class="carousel-indicators">
                         <li data-target="#banner1" data-slide-to="0" class="active"></li>
                         <li data-target="#banner1" data-slide-to="1"></li>
                         <li data-target="#banner1" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner" role="listbox">
                         <div class="carousel-item active">
                            <picture>
                               <source srcset="{{ url_for('static', filename='images/banner.jpg') }}">
                             
                               <img srcset="{{ url_for('static', filename='images/banner.jpg') }}" alt="responsive image" class="d-block img-fluid">
                            </picture>
                            <div class="carousel-caption relative">
                               
                            </div>
                         </div>
                         <!-- /.carousel-item -->
                         <div class="carousel-item">
                            <picture>
                             
                               <img srcset="{{ url_for('static', filename='images\slide-1.jpg') }}" alt="responsive image" class="d-block img-fluid">
                            </picture>
                            <div class="carousel-caption relative">
                               
                            </div>
                         </div>
                         <div class="carousel-item">
                            <picture>
                             
                               <img srcset="{{ url_for('static', filename='images\slide-3.jpg') }}" alt="responsive image" class="d-block img-fluid">
                            </picture>
                            <div class="carousel-caption relative">
                               
                            </div>
                         </div>
                         <!-- /.carousel-item -->
                         <div class="carousel-item">
                            <picture>
                               <source srcset="{{ url_for('static', filename='images/banner.jpg') }}" >
                               <source srcset="{{ url_for('static', filename='images/images/slide-1.jpg') }}">
                               <source srcset="{{ url_for('static', filename='images/images/slide-3.jpg') }}" >
                               <img srcset="{{ url_for('static', filename='images/banner.jpg') }}" alt="responsive image" class="d-block img-fluid">
                            </picture>
                            <div class="carousel-caption relative">
                               
                            </div>
                         </div>
                         <!-- /.carousel-item -->
                      </div>
                      <!-- /.carousel-inner -->
                      <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
                      <i class="fa fa-angle-left" aria-hidden="true"></i>
                      <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <span class="sr-only">Next</span>
                      </a>
                   </div>
                   <div class="container-fluid">
                      <div class="row">
                         <div class="col-md-12">
                            <div class="willom">
                              <h1> Agriculture Fram</h1>
                            </div>
                         </div>
                      </div>
                   </div>
 </div>
</div>
<!-- end banner -->
<!-- about -->
<div class="about">
 <div class="container-fluid">
    <div class="row d_flex">
       <div class="col-lg-6 col-md-12">
          <div class="titlepage text_align_left">
             <span>About Us</span>
             <h2>SMARTAGRO</h2>
             <p>Our state-of-the-art machine learning and deep learning technologies enable farmers to make informed decisions and understand the demographics of their area. By analyzing the factors that affect crop growth and health, we help farmers increase their chances of a successful yield.  With our expertise and support, farmers can optimize their farming practices and achieve greater profitability. At SmartArgo, we're committed to helping farmers succeed and improve the agriculture industry as a whole.</p>
             <a class="read_more" href="about.html">Learn More</a>
          </div>
       </div>
       <div class="col-lg-6 col-md-12">
          <div class="row d_flex">
           <div class="col-md-7">
             <div class="about_img">
                <figure><img src="{{ url_for('static', filename='images/about_img.jpg') }}" alt="#"/>
                </figure>
             </div>
           </div>
           <div class="col-md-5">
             <div class="about_img">
                <figure><img src="{{ url_for('static', filename='images/about_img1.jpg') }}" alt="#"/>
                </figure>
             </div>
           </div>
          </div>
       </div>
    </div>
 </div>
</div>
<!-- end about -->
<!-- services -->
<div class="services">
 <div class="container">
    <div class="row">
       <div class="col-md-12">
          <div class="titlepage text_align_left">
             <span>What We Do</span>
                 <h2>SERVICES WE OFFER</h2>
          </div>
       </div>
    </div>
    <div class="row">
       
       <div class="col-md-4">
          <a href="services.html">
          <div class="services_box_main">
             <div  class="services_box text_align_left">
                  <figure><img src="{{ url_for('static', filename='images/service1.jpg') }}" alt="#"/></figure>
                <div class="veget">
                   <h3>Crop recommendation</h3>
                   <p>is vital for agriculture. Factors like soil type, climate, and pests affect crop selection. Smart decisions lead to optimal performance and success.</p>
                </div>
             </div>
            
          </div>
       </a>
       </div>
    
       
       <div class="col-md-4">
          <a href="services.html">
       <div class="services_box_main">
             <div  class="services_box text_align_left">
                  <figure><img src="{{ url_for('static', filename='images/service2.jpg') }}" alt="#"/></figure>
                <div class="veget">
                   <h3>Fertilizer recommendations</h3>
                   <p>are essential for optimizing crop growth. It is crucial to consider the specific soil type and the recommended crop before selecting the most suitable fertilizer.</p>
                </div>
             </div>
          </div>
       </a>
       </div>
    
    
       <div class="col-md-4">
          <a href="services.html">
       <div class="services_box_main">
             <div  class="services_box text_align_left">
                  <figure><img src="{{ url_for('static', filename='images/service3.jpg') }}" alt="#"/></figure>
                <div class="veget">
                   <h3>Crop diseases</h3>
                   <p>crop yields, and early detection is critical for effective management. Identifying the causes of the disease is essential to prescribe the most appropriate treatment.</p>
                </div>
             </div>
          </div>
          </a>
       </div>
    </a>
    </div>
 </div>
</div>
<!-- end services -->

<!-- choose -->
<div class="choose">
 <div class="container">
    <div class="row">
       <div class="col-md-12">
          <div class="titlepage text_align_center">
             <h2>Whay choose us</h2>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-md-3">
          <div class="point text_align_center">
             <h3>300+</h3>
             <span>Regula <br>Customers</span>
          </div>
       </div>
       <div class="col-md-3">
          <div class="point text_align_center">
             <h3>30+</h3>
             <span>Professional <br>Engineering</span>
          </div>
       </div>
       <div class="col-md-3">
          <div class="point text_align_center">
             <h3>300+</h3>
             <span>Points of Sale  <br>Goods</span>
          </div>
       </div>
       <div class="col-md-3">
          <div class="point text_align_center">
             <h3>30+</h3>
             <span>Awards <br>Won</span>
          </div>
       </div>
    </div>
 </div>
</div>
<!-- choose -->
<!-- news -->
<div class="news">
 <div class="container">
    <div class="row">
       <div class="col-md-12">
          <div class="titlepage text_align_left">
             <span>Our</span>
             <h2>Latest News</h2>
          </div>
       </div>
    </div>
    <div class="row">
       <div class=" col-md-4">
          <div class="latest">
             <figure><img src="{{ url_for('static', filename='images/news1.jpg') }}" alt="#"/></figure>
             <span>15<br>  March</span>
             <div class="nostrud">
                <h3>Alteration in somer</h3>
                <p>has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making iteditors </p>
                <a class="read_more" href="news.html">Read More</a>
             </div>
          </div>
       </div>
       <div class=" col-md-4">
          <div class="latest box_desho">
             <figure><img src="{{ url_for('static', filename='images/news2.jpg') }}" alt="#"/></figure>
             <span>15<br> March</span>
             <div class="nostrud">
                <h3>Alteration in somer</h3>
                <p>has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making iteditors </p>
                <a class="read_more" href="news.html">Read More</a>
             </div>
          </div>
       </div>
      <div class=" col-md-4">
          <div class="latest">
             <figure><img src="{{ url_for('static', filename='images/news3.jpg') }}" alt="#"/></figure>
             <span>15<br> March</span>
             <div class="nostrud">
                <h3>Alteration in somer</h3>
                <p>has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making iteditors </p>
                <a class="read_more" href="news.html">Read More</a>
             </div>
          </div>
       </div>
    </div>
 </div>
</div>
<!-- end news -->
<!-- contact -->
<div class="contact">
 <div class="container">
    <div class="row">
       <div class="col-md-12 ">
          <div class="titlepage text_align_center">
             <span>Our Contact</span>
             <h2>Requste A Call Back</h2>
          </div>
       </div>
       <div class="col-md-8 offset-md-2">
          <form id="request" class="main_form">
             <div class="row">
                <div class="col-md-12 ">
                   <input class="form_control" placeholder="Your Name" type="type" name=" Name"> 
                </div>
                <div class="col-md-12">
                   <input class="form_control" placeholder="Phone Number" type="type" name="Phone Number">                          
                </div>
               
                <div class="col-md-12">
                   <input class="textarea" placeholder="Message" type="type" name="message"> 
                </div>
                <div class="col-md-12">
                   <div class="group_btn">
                   <button class="send_btn">Send</button>
                    <button class="send_btn">location</button>
                 </div>
                </div>
             </div>
          </form>
       </div>
    </div>
 </div>
  <div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="430" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
 </div>
</div>
{% endblock %}